#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */
/* Custom */
.form-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.form-section{
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form-label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;                     /* Ajusta el ancho del input */
    max-width: 300px;                /* Define un ancho máximo para los inputs */
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
}

/* Estilos para el input cuando está bloqueado */
.input-readonly {
    background-color: #f0f0f0; /* Color gris claro */
    color: #888;              /* Texto gris */
    border-color: #d0d0d0;    /* Borde más claro */
    cursor: not-allowed;      /* Cursor de no permitido */
}